@import "./base.css";

* {
  outline: none !important;
}

:focus {
  outline: none !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("./wavy-lines.svg");
  background-size: cover;
  user-select: none;
}

#root {
  width: 100%;
  height: 100vh;
}

.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.header {
  height: 2rem;
  width: 100%;
  padding: 0 1rem;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1010;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item a {
  display: flex;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1010;
}

.loader {
  width: 28px;
  height: 28px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  margin-right: 0.5rem;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-player {
  position: absolute;
  top: 4rem;
  left: 1rem;
  width: 400px;
  z-index: 1001;
}

video {
  width: 100%;
  height: 100%;
}

.video-canvas {
  position: absolute;
  z-index: 1001;
  pointer-events: none;
}

.toolbar {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 400px;
  z-index: 1002;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}

.toolbar-item {
  align-items: center;
  height: 1.5rem;
  max-width: 22%;
}

.toolbar-item .MuiFormControlLabel-label,
.toolbar-item .MuiTypography-root {
  font-size: 0.8rem;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

a {
  color: inherit;
}

@media screen and (max-width: 767px) {
  .scene {
    position: relative;
    top: auto;
    width: 100%;
    height: calc(100vh - 4rem - 200px);
  }

  .toolbar {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: 2rem;
  }
  .video-player {
    position: relative;
    height: 200px;
    width: 100%;
    top: auto;
  }

  .header {
    position: relative;
    height: 2rem;
  }
}
