@import "./base.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("./wavy-lines.svg");
  background-size: cover;
  user-select: none;
}

#root {
  width: 100%;
}

.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
}

.header-item {
  display: flex;
  align-items: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1010;
}

.loader {
  width: 28px;
  height: 28px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  margin-right: 0.5rem;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.videoContainer {
  width: 45%;
  height: calc(100vh - 8rem);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.videoPlayer {
  width: 100%;
  height: 100%;
}

.toolbar {
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}

.toolbar-item {
  align-items: center;
  height: 1.5rem;
  max-width: 20%;
}

.toolbar-item .MuiFormControlLabel-label,
.toolbar-item .MuiTypography-root {
  font-size: 0.85rem;
}

.scene {
  width: 45%;
  height: calc(100vh - 6.2rem);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  color: inherit;
}
